:root{
    --cor-destaque: #31a8dd;
    --cor-text-principal: #ffffff;
    --cor-bordar-transparencia: #33A8DB80;
}


body{
    background-color: #000000;
}


.banner{
    width: 100vw;
    border-bottom: solid 0.6px var(--cor-destaque);
    background-image: linear-gradient(#00000099, #31a8dd33, #00000099), url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content{
    width: 37.5rem;
    margin: 3.5rem auto;   
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.banner-content .logo{
    border-radius: 50%;
    background: #0000003b;
    width: 16.75rem;
    height: 16.75rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    background-image: linear-gradient(#33a8d8 , #1472b7);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    font-size: 1.25rem;
}

.banner-content button{
    width: 20.375rem;
    padding: 1rem ;
    margin-top: 1rem;
    color: var(--cor-destaque);
    background: transparent;
    border: solid 2px var(--cor-destaque);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.banner-content button:hover{
    color: var(--cor-text-principal);
}
main{
    width: 100vw;
}
#course-content{
    width: 49.5rem;
    margin: 4rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#course-content h2, #professional-challenges h2{
    font-size: 2rem;
    color: var(--cor-destaque);
    text-transform: uppercase;
    font-weight: 600;
}

#course-content .modules-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modules-list .module{
    width: 33.43rem;
    border: solid 0.6px var(--cor-destaque);
    border-radius: 57px;
    padding: 1rem;
    background: #252525;
    font-size: 1rem;
}


.modules-list .module:hover{
    background: #333333;
}


.module span{
    color: var(--cor-destaque);
}

#transform-world{
    height: 35rem;
    padding: 12.5rem;
    border-top: 1px solid var(--cor-bordar-transparencia);
    border-bottom: 1px solid var(--cor-bordar-transparencia);
    background-image: url("../img/woman-code.png");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#transform-world p{
    width: 15.25rem;
    font-size: 2.5rem;
    text-transform: lowercase;
    font-weight: 700;
    text-shadow: 4px 3px 2px var(--cor-destaque);
}

#professional-challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    text-align: center;
}

#professional-challenges img{
    width: auto;
}

#professional-challenges p{
    width: 49.5rem;
    font-size: 1rem;
    padding-top: 2.5rem;
}

footer{
    border-top: solid 0.6px var(--cor-destaque);
    padding: 3.68rem 1rem 2.25rem 1rem;
    text-align: center;
}

footer a{
    color: var(--cor-destaque);
}

footer a:hover{
    color: #1472b7;
}